<h2>Dodaj produkt</h2>
<form [formGroup]="productForm">
<div>
  <label for="title">Nazwa</label>
  <input id="title" formControlName="title"/>
</div>
<div>
  <label for="price">Cena</label>
  <input id="price" formControlName="price" type="number"/>
</div>
<div>
  <label for="categories">Kategorie</label>
  <select id="categories" formControlName="categories">
    <option value="kat 1">Kategoria 1</option>
    <option value="kat 2">Kategoria 2</option>
    <option value="kat 3">Kategoria 3</option>
  </select>
</div>
<div>
  <button (click)="createProduct()">Dodaj</button>
</div>
</form>
