<h2>Promocja!</h2>
<ng-template appProductHost></ng-template>

<p [style]="currentStyles">Lista produktów:</p>

@if (products.length > 0) {
    <h1>Ilość produktów: ({{products.length}})</h1>
} @else if (products.length === 100) {
    <span>Lista produktów jest pełna, kliknij 
        <a>TUTAJ</a> aby zobaczyć więcej produktów...</span>
} @else {
    <h1>Brak produktów</h1>
}
<!-- <ul>
    @for (product of products; track product.id; let i = $index) {
        <li>{{i+1}} - {{product.title}}</li>
    } @empty {
        <li>Brak produktów</li>
    }
</ul> -->

<ul>
    @for (product of products; track product.id) {
        <li (click)="selectedProduct = product">
            @switch (product.title) {
                @case ('Screwdriver') {
                    <span style="color: red;">{{product.title}}</span>}
                @case ('Hammer') {
                    <span style="color: blue;">{{product.title}}</span>}
                @default {
                    <span>{{product.title}}</span>
                }
            }
        </li>
    } @empty {
        <li [style.color]="'green'">Brak produktów</li>
    }
</ul>

<!-- @if (selectedProduct) {
    <h2>Wybrany produkt: {{selectedProduct.title}}</h2>
} @else {
    <h2>Brak wybranego produktu</h2>
} -->

<app-product-detail 
#productDetail
[product]="selectedProduct"
(added)="onAdded($event)"></app-product-detail>
<hr>
<span>{{productDetail.product?.title}}</span>
